<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Harley Bartles</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap-reboot.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/animate.css/animate.css" />
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Oswald" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap-reboot.css" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              asp-fallback-test-class="fa"
              asp-fallback-test-property="font-family"
              asp-fallback-test-value="FontAwesome"
              integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
              crossorigin="anonymous" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
              asp-fallback-href="~/lib/animate.css/animate.min.css"
              asp-fallback-test-class="animated"
              asp-fallback-test-property="animation-fill-mode"
              asp-fallback-test-value="both"
              integrity="sha256-HtCCUh9Hkh//8U1OwcbD8epVEUdBvuI8wj1KtqMhNkI="
              crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Oswald" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light navbar-fixed-top">
        <div class="container">
            <div class="site-logo d-inline-block align-self-md-baseline">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    @*Harley Bartles*@
                    <img class="site-logo bg-light" alt="Harley Bartles" src="~/images/Logo.png" />
                </a>
            </div>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="About">About</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    @if (ViewBag.Title != "Home Page")
    {
        <div class="content-spacer d-none d-md-block"></div>
    }

    <div class="@("body-content " + (ViewBag.Title == "Home Page" ? "container-fluid px-0" : "container"))">
        @RenderBody()
        <hr />
        <footer class="container">
            <div class="row">

                <div class="col-sm">
                    <div class="row">
                        <div class="col-6 col-sm-12">
                            <h3>POWERED BY</h3>
                        </div>
                        <div class="col-6 col-sm-12">
                            <a href="https://dotnet.microsoft.com/download">
                                <img class="footer-logo" src="~/images/net-core_logo.svg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-100 h-25 d-sm-none"></div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-6 col-sm-12">
                            <h3>SITE LINKS</h3>
                        </div>
                        <div class="col-6 col-sm-12">
                            <ul id="footerNav">
                                <li class="nav-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="nav-item"><a asp-controller="Home" asp-action="About">About</a></li>
                                <li class="nav-item"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm text-sm-right d-sm-flex flex-column justify-content-end">
                    <p>&copy; @DateTime.Now.Year - Harley Bartles</p>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/lib/wow/wow.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
                asp-fallback-src="~/lib/wow/wow.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.wow"
                crossorigin="anonymous"
                integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U="></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
