@model HBDotCom.Models.ViewModels.ContactFormViewModel
@{
    ViewData["Title"] = "Contact";
    ViewData["Spacer"] = "Add";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col">
        <form asp-action="Contact" asp-controller="Home" method="post">
            <div class="row">
                <div class="col-3">
                    <label asp-for="@Model.Name">Your name:</label>
                </div>
                <div class="col-9">
                    <input type="text" asp-for="@Model.Name" />
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label asp-for="@Model.Email">Your email:</label>
                </div>
                <div class="col-9">
                    <input type="text" asp-for="@Model.Email" />
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label asp-for="Message">Your message:</label>
                </div>
                <div class="col-9">
                    <textarea asp-for="Message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col offset-sm-3">
                    <input type="submit" value="Send Message!" class="btn btn-primary" />
                </div>
            </div>
                
</form>
    </div>
</div>
